body {
background-color: rgb(185, 66, 240);

   header {
   border: solid 2px white;
   padding: 20px;
   font-size: 32px;
   color: rgb(253, 253, 253);
}

section {
   background: rgb(185, 66, 240);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
}

}
 
h1 {
color:rgb(253, 253, 253);


}









